.Iteminfo{
    color:black;
    text-align: center;
    align-items: center;
    font-family: monospace;

}
.Iteminfo_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Iteminfo_Title{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.Iteminfo_Counter{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.Iteminfo_Counter_Text{
    font-size: 25px;
    margin-left: 10px;
    margin-right:10px;
    
}
.Iteminfo_Counter_Button{
    
    background-color:red;
    color:white;
    width: 30px;
    height:30px;

}
.Iteminfo_Counter_Button:hover{
    cursor:grab;
    

}

.Iteminfo_Description{
    font-size: 30px;
}

.Iteminfo_Price{
    font-size: 30px;
}
.Iteminfo_Button{
    content:'';
    margin-bottom: 30px;
    border-color:black;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height:60px;
    width:150px;
    color:black;
   
}

.Iteminfo_Button:hover{
    color:white;
    cursor:grab;
    transition: 0.1s;
    background-color: black;
}


@media screen and (max-width:500px){
    .Iteminfo_Title{
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .Iteminfo_Counter_Text{
        font-size: 12px;
        margin-left: 10px;
        margin-right:10px;
        
    }
    .Iteminfo_Counter_Button{
    
        background-color:red;
        color:white;
        width: 20px;
        height:20px;
        font-size: 7px;
    
    }
    .Iteminfo_Description{
        font-size: 10px;
    }
    
    .Iteminfo_Price{
        font-size: 10px;
    }
    .Iteminfo_Button{
        
        margin-bottom: 10px;
        border-color:black;
        border-bottom: 1px solid black;
        background-color: transparent;
        font-size: 10px;
        margin-right: 3px;
        margin-left: 3px;
        height:40px;
        width:40px;
        color:black;
       
    }

    
}