.Login{
    display:flex;
    flex-direction: column;



}
.Login_Button{
    content:'';
    margin-bottom: 30px;
    border-color:black;
    width:50px;
    background-color: transparent;
    font-size: 20px;
    height:60px;
    width:150px;
    color:black;
    top:0;
    left:0;
}

.Login_Button:hover{
    color:white;
    cursor:grab;
    transition: 0.1s;
    background-color: black;
}

.Logout_Button{
    width:50px;

}