.Shop{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Shop_Header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 300px;
}

.Shop_Items{
    text-align: center;
    margin-bottom:100px;
    
    
    box-sizing: border-box;
    
}
.Shop_Items_Title{

    font-size: 40px;
}
.Shop_Items_Price{

    font-size: 30px;
    margin: 10px;
}



.Shop_Button{
    content:'';
    margin-bottom: 30px;
    border-color:black;

    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 30px;
    height:70px;
    width:150px;
    color:black;
    top:0;
    left:0;
}

.Shop_Button:hover{
    color:white;
    cursor:pointer;
    transition: 1s;
    background-color: black;
}

@media screen and (max-width:500px){
    .Shop_Header{
        font-size: 15px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .Shop_Items{
        text-align: center;
        margin-bottom:33px;
        
        
        box-sizing: border-box;
        
    }
    .Shop_Items_Title{
    
        font-size: 12px;
    }
    .Shop_Items_Price{
    
        font-size: 10px;
        margin: 4px;
    }
    
    
    
    .Shop_Button{
        content:'';
        margin-bottom: 10px;
        border-color:rgb(0, 0, 0);
    
        border-bottom: 1px solid black;
        background-color: transparent;
        font-size: 10px;
        height:30px;
        width:50px;
        color:black;
        top:0;
        left:0;
    }

}